files:
  "/etc/awslogs/conf.d/leaderboard.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [/var/log/eb-docker/containers/eb-current-app/stdouterr.log]
      log_group_name = /anote/leaderboard/app
      log_stream_name = {instance_id}/app
      datetime_format = %Y-%m-%d %H:%M:%S

option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 30
